<%= render "settings/layout" do %>
  <div class="settings-section">
    <h2 class="settings-section-title">Edit provider</h2>
    <%= render "shared/provider_form", provider: @provider, url: settings_provider_path(@provider), cancel_url: settings_providers_path %>
  </div>
<% end %>
