<% if has_older %>
  <div id="chat-pagination-sentinel" data-chat-pagination-target="sentinel"></div>
<% end %>
<% messages.each do |message| %>
  <%= render "chats/messages/message", message: message, agent: agent, tts_available: local_assigns.fetch(:tts_available, false) %>
<% end %>
