<div class="agent-profile" data-status="<%= @agent.status %>">
  <%= render "agents/header", active_tab: "keychains" %>

  <div class="agent-profile-body">
    <div class="agent-detail-section">
      <h3 class="section-label">Add keychain</h3>
      <%= render "form", key_chain: @key_chain, url: agent_key_chains_path(@agent) %>
    </div>
  </div>
</div>
